---
const year = new Date().getFullYear();
---
<footer class="site">
  &copy; {year} 徐春阳 (xuchunyang) &middot;
  <a href="https://github.com/xuchunyang">github</a> &middot;
  <a href="https://x.com/xuchunyang_">twitter</a> &middot;
  <a href="mailto:xuchunyang56@gmail.com">email</a>
</footer>
