<!doctype html>
<html lang="zh">
  <head>
    <meta charSet="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/font-lock.css">
  </head>
  <body>
    <nav>
      <a href="/">https://xuchunyang.me</a>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
      © 2019 Xu Chunyang (徐春阳) &lt;mail@xuchunyang.me&gt; ，使用 <a href="https://www.gnu.org/s/emacs/">GNU Emacs</a> 和 <a href="https://python.org/">Python</a> 制作。
    </footer>
  </body>
</html>
